html, body {
	font-family: 'Poppins', sans-serif;
	font-family: 'Fjalla One', sans-serif;

}

body {
	background-color: purple;
	color: white;
	font-family: sans-serif;
	font-family: RenoMono;
}

body, table {
	border: 0;
	margin:0;
	padding: 0;
	height: 100vh;
    border-spacing:0;
}

table td {
	height: 100%;
	vertical-align: top;

}
.menu {
	padding: 5px;
}
.content {
	width: 100%;
}
.content iframe.iframe {
	border: none;
	frameborder: 0;
	marginheight: 0px;
	marginwidth: 0px;
	height: 100%;
	width: 100%
}


a:not(.logo) {
	background-color: rgba(255, 255, 255, .7);
	padding: 5px 10px;
	color: purple;
	text-decoration: none;
	font-size: 12px;
	margin: 1px 0;
	display: block;
	transition: all 300ms ease-in;
}
a:not(.logo):hover {
	background-color: rgba(255, 255, 255, 1);
	padding: 5px 5px 5px 15px;
}
.header {
	height: 15vh;
}
.scroll {
	display: block;
	width: 100%;
	overflow: auto;
	height: 80vh;
}
a.soon {
	display: none;
}
.title {
	font-size: 15px;
}
a.logo {
	border-bottom: solid 1px white;
	position: sticky !important;
	top: -1;
}
a.logo img {
	height: 46px;
	width: 46px;
}

.alert {
	background-color: rgba(255, 255, 255, .8);
	color: black;
	padding: 15px;
	font-size: 80%;
}
	button {
		padding: 10px 25px;
		padding-top: 13px;
		background-color: #fff;
		border: solid 1px #ccc;

	font-family: RenoMono;
	text-transform: uppercase;
	}
	button:hover {
		border: solid 1px #666;
	}

@font-face {
    font-family: RenoMono;
    src: url("../fonts/RenoMono.eot");
    src: url("../fonts/RenoMono.eot?#iefix") format("embedded-opentype"),
    url("../fonts/RenoMono.woff") format("woff"),
    url("../fonts/RenoMono.ttf") format("truetype"),
    url("../fonts/RenoMono.svg#RenoMono") format("svg");
  }

  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face {
      font-family: RenoMono;
      src: url("../fonts/RenoMono.svg#RenoMono") format("svg");
    }
  }
